// vars
// ----------------------------------------------------------

//fonts
$f_regular: "MyriadProRegular";
$f_bold: "MyriadProBold";
$f_italic: "MyriadProItalic";

$default-font: "MyriadProRegular";


//colors
$c_White:#fff;

$accent: #76b132;




// bg
$bg_grey: #f1f1f1;

// text
$t_main: #000;

$t_green: #76b132;
$t_green_hover: #95d44c;
