@media only screen and (max-width: 480px) {


  // home_slider
  // ----------------------------------------------------------
  #home_slider {
    .slide {
      height: 220px;
      font-size: 20px;
      .large, .blue {
        font-size: 20px;
      }
    }
  }





  // instagram
  // ----------------------------------------------------------
  .instagram {
    .insta-row {
      .item {
        width: 33.3333%;
      }
    }
  }







}


